.idea
.env
.venv
env/
venv/

__pycache__/

*.log*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.history/

.pytest_cache