FASTAPI_PROTOCOL = http
FASTAPI_HOST = fastapi_test
FASTAPI_PORT = 8000

POSTGRES_DB = otdelka
POSTGRES_USER = app
POSTGRES_PASSWORD = 123qwe
POSTGRES_HOST = market_storage_test
POSTGRES_PORT = 5432
POSTGRES_OPTIONS = "-c search_path=content"